* {
    box-sizing: border-box;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 75px;
    
  }
  
  .container>div {
    border: 1px solid rgb(0, 0, 0);
    height: 40px;
    width: 40px;
    transition: ease 99999999999999999s all
  }
  
  .container>div:nth-child(16n + 1) {
    width: 100%;
    border: 0;
    height: 0;
  }

#farbe:hover {
  background-color: blue;
    transition: ease 0s all;

}